@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";
/* Google Fonts Outfit and Prata; tailwind. */

a.active hr {
    display: block;
}



.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}


.theme-switch {
    background: pink;
    cursor: pointer;
}

:root {
    --background-color: #fff;
    --text-primary: #000;
}
[data-theme='dark'] {
    --background-color: #716c6c;
    --text-primary: #fff;
}
* {
    font-family: Outfit, sans-serif;
    background: var(--background-color);
    color: var(--text-primary);
    transition: all 0.5s;
}



@media(max-width:640px) {
    a.active {
        background-color: black;
        color: white;
    }
}